index.html
<!DOCTYPE html>
<html class="no-js" lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="Description of Top">
    <meta name="keywords" content="keywords of top">
    <title>Top</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="page-top">
    <div class="container">
      <header></header>&#x9;
      <header class="main-header dis-flex">
        <h1 class="logo"><img src="./img/common/logo.jpg" alt="logo"></h1>
        <div class="box-header dis-flex align-items-center">
          <p>Giám sát</p>
        </div>
      </header>
      <div class="content-bislog clearfix js-height-main">
        <div class="split" id="sidebar">
          <ul class="dis-flex head-tab">
            <li class="active"><a class="js-tab" href="#tab01" data-tab="content-tab01">Giám sát xe</a></li>
            <li><a class="js-tab" href="#tab02" data-tab="content-tab01">Xem lại hành trình</a></li>
          </ul>
          <div class="body-tab">
            <div class="content-tab01 content-tab active" id="tab01">
              <div class="list-vehicle"><i class="fa fa-car" aria-hidden="true"></i>Danh sách phương tiện ( 150 )</div>
              <div class="search">
                <form action="">
                  <div class="dis-flex cover-search">
                    <input class="text-search" type="text" placeholder="Nhập biển số xe cần tìm kiếm">
                    <button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
              <div class="cover-table-vehicle">
                <table class="table-vehicle">
                  <tr class="thead">
                    <td class="col-check">
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td>
                      <div>Biển kiểm soát</div>
                    </td>
                    <td>
                      <div class="setting js-setting">Trạng thái<i class="fa fa-sort-desc" aria-hidden="true"></i>
                        <div class="sub-drop">
                          <div class="item"><i class="blue fa fa-circle" aria-hidden="true"></i>Đang dừng  (16)</div>
                          <div class="item"><i class="green fa fa-circle" aria-hidden="true"></i>Đang dừng  (16)</div>
                          <div class="item"><i class="orange fa fa-circle" aria-hidden="true"></i>Đang dừng  (16)</div>
                          <div class="item"><i class="red fa fa-circle" aria-hidden="true"></i>Đang dừng  (16)</div>
                          <div class="item"><i class="gray fa fa-circle" aria-hidden="true"></i>Đang dừng  (16)</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div>Thời gian</div>
                    </td>
                    <td>
                      <div>Vị trí</div>
                    </td>
                    <td>
                      <div class="setting js-setting">Loại xe<i class="fa fa-sort-desc" aria-hidden="true"></i>
                        <div class="sub-drop text">
                          <div class="item"> Xe tải  (16)</div>
                          <div class="item"> Xe tải  (16)</div>
                          <div class="item"> Xe tải  (16)</div>
                          <div class="item"> Xe tải  (16)</div>
                          <div class="item"> Xe tải  (16)</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="setting js-setting">Cửa xe<i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                    </td>
                    <td>
                      <div class="setting js-setting">Điều hòa<i class="fa fa-sort-desc" aria-hidden="true"></i>
                        <div class="sub-drop">
                          <div class="item"><i class="blue fa fa-circle" aria-hidden="true"></i>Đang bật  (16)</div>
                          <div class="item"><i class="gray fa fa-circle" aria-hidden="true"></i>Đang tắt (24)</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div>Nhiên liệu</div>
                    </td>
                    <td>
                      <div>Nhiệt độ</div>
                    </td>
                    <td>
                      <div class="setting js-setting">Bồn trộn<i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                    </td>
                    <td>
                      <div>Ben</div>
                    </td>
                    <td>
                      <div class="setting js-setting"><i class="fa fa-cog" aria-hidden="true"></i></div>
                    </td>
                  </tr>
                  <tr class="group">
                    <td colspan="13">
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label><span class="total"><i class="fa fa-minus-square" aria-hidden="true"></i>Nhóm xe số 1 (61)</span>
                    </td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="green fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="orange fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="red fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="gray fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="group">
                    <td colspan="13">
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label><span class="total"><i class="fa fa-minus-square" aria-hidden="true"></i>Nhóm xe số 1 (61)</span>
                    </td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="green fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="orange fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="red fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                  <tr class="content">
                    <td>
                      <label class="label">
                        <input type="checkbox"><i class="fa fa-check" aria-hidden="true"></i>
                      </label>
                    </td>
                    <td class="text-left">29A - 21512</td>
                    <td class="text-left"><i class="gray fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td class="text-left">Xe khách</td>
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td>2</td>
                    <td><i class="red fa fa-circle" aria-hidden="true"></i></td>
                    <td colspan="2">1</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="content-tab01 content-tab" id="tab02">
              <p>2</p>
            </div>
          </div>
        </div>
        <div class="split" id="main">
          <div class="content-map"><img src="./img/common/map.png" alt="">
            <div class="license-plates">Xe đang giám sát:<span>29A - 21514</span></div>
            <div class="warning">
              <div class="title-warning js-toggle-active">Cảnh báo<i class="fa fa-angle-down" aria-hidden="true"></i></div>
              <div class="list">
                <div class="item"><i class="red fa fa-circle" aria-hidden="true"></i><span class="red">Vượt tốc độ  ( 2 )</span></div>
                <div class="item"><i class="blue fa fa-circle" aria-hidden="true"></i><span>Lái xe liên tục >4h  ( 0 )</span></div>
                <div class="item"><i class="red fa fa-circle" aria-hidden="true"></i><span class="red">Lái xe trong ngày >10h  ( 2 )</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer></footer>
    </div>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/modernizr.js"></script>
    <script src="./js/split.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = '.'

block container
  | &#x9;
  header.main-header.dis-flex
    h1.logo
      img(src=path+"/img/common/logo.jpg", alt="logo")
    .box-header.dis-flex.align-items-center
      p Giám sát

  .content-bislog.clearfix.js-height-main
    #sidebar.split


      ul.dis-flex.head-tab
        li.active
          a.js-tab(href="#tab01" data-tab="content-tab01") Giám sát xe
        li
          a.js-tab(href="#tab02" data-tab="content-tab01") Xem lại hành trình
      .body-tab
        #tab01.content-tab01.content-tab.active
          .list-vehicle
            i.fa.fa-car(aria-hidden='true')
            | Danh sách phương tiện ( 150 )
          .search
            form(action="")
              .dis-flex.cover-search
                input.text-search(type="text" placeholder="Nhập biển số xe cần tìm kiếm")
                button.btn-search
                  i.fa.fa-search(aria-hidden='true')
          .cover-table-vehicle
            table.table-vehicle
              tr.thead
                td.col-check
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td
                  div Biển kiểm soát
                td
                  div.setting.js-setting
                    | Trạng thái
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop
                      .item
                        i.blue.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.green.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.orange.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.red.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                      .item
                        i.gray.fa.fa-circle(aria-hidden='true')
                        | Đang dừng  (16)
                td
                  div Thời gian
                td
                  div Vị trí
                td
                  div.setting.js-setting
                    | Loại xe
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop.text
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                      .item  Xe tải  (16)
                td
                  div.setting.js-setting
                    | Cửa xe
                    i.fa.fa-sort-desc(aria-hidden='true')
                td
                  div.setting.js-setting
                    | Điều hòa
                    i.fa.fa-sort-desc(aria-hidden='true')
                    .sub-drop
                      .item
                        i.blue.fa.fa-circle(aria-hidden='true')
                        | Đang bật  (16)
                      .item
                        i.gray.fa.fa-circle(aria-hidden='true')
                        | Đang tắt (24)
                td
                  div Nhiên liệu
                td
                  div Nhiệt độ
                td
                  div.setting.js-setting
                    | Bồn trộn
                    i.fa.fa-sort-desc(aria-hidden='true')
                td
                  div Ben

                td
                  div.setting.js-setting
                    i.fa.fa-cog(aria-hidden='true')
              tr.group
                td(colspan="13")
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                  span.total
                    i.fa.fa-minus-square(aria-hidden='true')
                    | Nhóm xe số 1 (61)
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.group
                td(colspan="13")
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                  span.total
                    i.fa.fa-minus-square(aria-hidden='true')
                    | Nhóm xe số 1 (61)
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1
              tr.content
                td
                  label.label
                    input(type="checkbox")
                    i.fa.fa-check(aria-hidden='true')
                td.text-left 29A - 21512
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td.text-left Xe khách
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.fa.fa-circle(aria-hidden='true')
                td 200/250
                td 2
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                td(colspan="2") 1

        #tab02.content-tab01.content-tab
          p 2
    #main.split
      .content-map
        img(src=path+"/img/common/map.png", alt="")
        .license-plates
          | Xe đang giám sát:
          span 29A - 21514
        .warning
          .title-warning.js-toggle-active
            | Cảnh báo
            i.fa.fa-angle-down(aria-hidden='true')
          .list
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Vượt tốc độ  ( 2 )
            .item
              i.blue.fa.fa-circle(aria-hidden='true')
              span Lái xe liên tục >4h  ( 0 )
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Lái xe trong ngày >10h  ( 2 )
