page-filter.html
<!DOCTYPE html>
<html class="no-js" lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="Description of Top">
    <meta name="keywords" content="keywords of top">
    <title>Top</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="page-top">
    <div class="container">
      <header></header>&#x9;
      <header class="main-header dis-flex">
        <h1 class="logo"><img src="./img/common/logo.jpg" alt="logo"></h1>
        <div class="box-header dis-flex align-items-center">
          <p>Giám sát<i class="fa fa-caret-down" aria-hidden="true"></i></p>
        </div>
      </header>
      <div class="content-bislog clearfix js-height-main">
        <div class="split" id="sidebar">
          <div class="dis-flex">
            <div class="left-filter">
              <div class="list-tags"><a class="tags" href="#">Tất cả xe (150)</a><a class="tags" href="#">Danh sách xe yêu thích<i class="fa fa-star-o" aria-hidden="true"></i></a></div>
              <label class="label-filter">Bộ lọc tìm kiếm thông tin xe<i class="fa fa-filter" aria-hidden="true"></i></label>
              <div class="group-filter"><span href="#">Nhóm xe số 1<a>x</a></span><span href="#">Nhóm xe số 2<a>x</a></span></div>
              <div class="group-filter"><span href="#">xe tải<a>x</a></span><span href="#">taxi<a>x</a></span><span href="#">container<a>x</a></span><span href="#">xe ben<a>x</a></span><span href="#">xe tải 20 tấn<a>x</a></span><span href="#">xe khách 52 chỗ<a>x</a></span></div>
              <div class="group-filter"><span href="#">Hà nội<a>x</a></span><span href="#">Hải phòng<a>x</a></span></div>
              <div class="box-search">
                <form action="#">
                  <div class="inner dis-flex">
                    <input type="text" placeholder="Nhập biển số xe cần tìm kiếm">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="right-status">
              <div class="table-status">
                <table class="stl-normal">
                  <tr class="thead">
                    <td colspan="6">Thống kê tình trạng xe đang chọn (64)</td>
                  </tr>
                  <tr>
                    <td class="text-left">Tình trạng xe</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>Dừng xe  (12)</td>
                    <td class="text-left"><i class="orange fa fa-circle" aria-hidden="true"></i>Tắt máy (20)</td>
                    <td class="text-left"><i class="green fa fa-circle" aria-hidden="true"></i>Di chuyển (65)</td>
                    <td class="text-left"><i class="red fa fa-circle" aria-hidden="true"></i>Vượt tốc độ (53)</td>
                    <td class="text-left"><i class="gray fa fa-circle" aria-hidden="true"></i>Mất kết nối (48)</td>
                  </tr>
                  <tr>
                    <td class="text-left">Trạng thái cửa xe</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>Đóng cửa (12)</td>
                    <td class="text-left"><i class="gray fa fa-circle" aria-hidden="true"></i>Mất kết nối (48)</td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                  </tr>
                  <tr>
                    <td class="text-left">Trạng thái điều hòa</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>Bật (12)</td>
                    <td class="text-left"><i class="gray fa fa-circle" aria-hidden="true"></i>Tắt (48)</td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                  </tr>
                  <tr>
                    <td class="text-left">Trạng thái bồn trộn</td>
                    <td class="text-left"><i class="blue fa fa-circle" aria-hidden="true"></i>Đang trộn (12)</td>
                    <td class="text-left"><i class="orange fa fa-circle" aria-hidden="true"></i>Đang xả (12)</td>
                    <td class="text-left"><i class="green fa fa-circle" aria-hidden="true"></i>bình thường (65)</td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="dis-flex">
            <div class="left-filter">
              <div class="list-car-chose">
                <div class="ttl"><i class="fa fa-car" aria-hidden="true"></i>Danh sách xe đang chọn ( 150 )</div>
                <div class="box-group">
                  <div class="ttl-sub"><i class="fa fa-minus-square" aria-hidden="true"></i>Nhóm xe số 1 (61)</div>
                  <ul class="item">
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                    <li>29A - 21512<img src="./img/common/star.svg" alt="icon"></li>
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                  </ul>
                </div>
                <div class="box-group">
                  <div class="ttl-sub"><i class="fa fa-minus-square" aria-hidden="true"></i>Nhóm xe số 2 (61)</div>
                  <ul class="item">
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                    <li>29A - 21512<img src="./img/common/star.svg" alt="icon"></li>
                    <li>29A - 21512</li>
                    <li>29A - 21512</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="right-status">
              <div class="table-status">
                <table class="stl-normal">
                  <tr class="thead">
                    <td>Trạng thái xe</td>
                    <td>Thời gian</td>
                    <td>Vị trí</td>
                    <td>Cửa xe</td>
                    <td>Điều hoà</td>
                    <td>Nhiêu liệu</td>
                    <td>Nhiệt độ</td>
                    <td>Bồn trộn</td>
                    <td>Ben</td>
                    <td>camera</td>
                  </tr>
                  <tr class="tempty">
                    <td colspan="10"></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="green fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="orange fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="red fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="green fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="orange fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="red fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tempty">
                    <td colspan="10"></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="green fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="orange fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="red fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                  <tr class="tcontent">
                    <td><i class="blue fa fa-circle" aria-hidden="true"></i>1h25'</td>
                    <td>07/01 - 21:50:36</td>
                    <td>Cầu Giấy</td>
                    <td><i class="blue center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="gray center fa fa-circle" aria-hidden="true"></i></td>
                    <td>200/250</td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="orange center fa fa-circle" aria-hidden="true"></i></td>
                    <td><i class="lgray center fa fa-circle" aria-hidden="true"></i></td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="split" id="main">
          <div class="content-map"><img src="./img/common/map.png" alt="">
            <div class="license-plates">Xe đang giám sát:<span>29A - 21514</span></div>
            <div class="warning">
              <div class="title-warning js-toggle-active">Cảnh báo<i class="fa fa-angle-down" aria-hidden="true"></i></div>
              <div class="list">
                <div class="item"><i class="red fa fa-circle" aria-hidden="true"></i><span class="red">Vượt tốc độ  ( 2 )</span></div>
                <div class="item"><i class="blue fa fa-circle" aria-hidden="true"></i><span>Lái xe liên tục >4h  ( 0 )</span></div>
                <div class="item"><i class="red fa fa-circle" aria-hidden="true"></i><span class="red">Lái xe trong ngày >10h  ( 2 )</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer></footer>
    </div>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/modernizr.js"></script>
    <script src="./js/split.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

dev/pug/page-filter.pug
extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = '.'

block container
  | &#x9;
  header.main-header.dis-flex
    h1.logo
      img(src=path+"/img/common/logo.jpg", alt="logo")
    .box-header.dis-flex.align-items-center
      p Giám sát
        i.fa.fa-caret-down(aria-hidden='true')


  .content-bislog.clearfix.js-height-main
    #sidebar.split
      .dis-flex
        .left-filter
          .list-tags
            a.tags(href="#")
              | Tất cả xe (150)
            a.tags(href="#")
              | Danh sách xe yêu thích
              i.fa.fa-star-o(aria-hidden='true')

          label.label-filter
            | Bộ lọc tìm kiếm thông tin xe
            i.fa.fa-filter(aria-hidden='true')

          .group-filter
            span(href="#")
              | Nhóm xe số 1
              a x
            span(href="#")
              | Nhóm xe số 2
              a x
          .group-filter
            span(href="#")
              | xe tải
              a x
            span(href="#")
              | taxi
              a x
            span(href="#")
              | container
              a x
            span(href="#")
              | xe ben
              a x
            span(href="#")
              | xe tải 20 tấn
              a x
            span(href="#")
              | xe khách 52 chỗ
              a x
          .group-filter
            span(href="#")
              | Hà nội
              a x
            span(href="#")
              | Hải phòng
              a x

          .box-search
            form(action="#")
              .inner.dis-flex
                input(type="text" placeholder="Nhập biển số xe cần tìm kiếm")
                button
                  i.fa.fa-search(aria-hidden='true')

        .right-status
          .table-status
            table.stl-normal
              tr.thead
                td(colspan="6") Thống kê tình trạng xe đang chọn (64)
              tr
                td.text-left Tình trạng xe
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Dừng xe  (12)
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | Tắt máy (20)
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | Di chuyển (65)
                td.text-left
                  i.red.fa.fa-circle(aria-hidden='true')
                  | Vượt tốc độ (53)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Mất kết nối (48)

              tr
                td.text-left Trạng thái cửa xe
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Đóng cửa (12)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Mất kết nối (48)
                td.text-left
                td.text-left
                td.text-left
              tr
                td.text-left Trạng thái điều hòa
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Bật (12)
                td.text-left
                  i.gray.fa.fa-circle(aria-hidden='true')
                  | Tắt (48)
                td.text-left
                td.text-left
                td.text-left
              tr
                td.text-left Trạng thái bồn trộn
                td.text-left
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | Đang trộn (12)
                td.text-left
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | Đang xả (12)
                td.text-left
                  i.green.fa.fa-circle(aria-hidden='true')
                  | bình thường (65)
                td.text-left
                td.text-left
      .dis-flex
        .left-filter
          .list-car-chose
            .ttl
              i.fa.fa-car(aria-hidden='true')
              | Danh sách xe đang chọn ( 150 )
            .box-group
              .ttl-sub
                i.fa.fa-minus-square(aria-hidden='true')
                | Nhóm xe số 1 (61)
              ul.item
                li 29A - 21512
                li 29A - 21512
                li
                  | 29A - 21512
                  img(src=path+"/img/common/star.svg", alt="icon")
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
                li 29A - 21512
            .box-group
              .ttl-sub
                i.fa.fa-minus-square(aria-hidden='true')
                | Nhóm xe số 2 (61)
              ul.item
                li 29A - 21512
                li 29A - 21512
                li
                  | 29A - 21512
                  img(src=path+"/img/common/star.svg", alt="icon")
                li 29A - 21512
                li 29A - 21512

        .right-status
          .table-status
            table.stl-normal
              tr.thead
                td Trạng thái xe
                td Thời gian
                td Vị trí
                td Cửa xe
                td Điều hoà
                td Nhiêu liệu
                td Nhiệt độ
                td Bồn trộn
                td Ben
                td camera
              tr.tempty
                td(colspan="10")
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tempty
                td(colspan="10")
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.green.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.orange.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.red.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
              tr.tcontent
                td
                  i.blue.fa.fa-circle(aria-hidden='true')
                  | 1h25'
                td 07/01 - 21:50:36
                td Cầu Giấy
                td
                  i.blue.center.fa.fa-circle(aria-hidden='true')
                td
                  i.gray.center.fa.fa-circle(aria-hidden='true')
                td 200/250
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td
                  i.orange.center.fa.fa-circle(aria-hidden='true')
                td
                  i.lgray.center.fa.fa-circle(aria-hidden='true')
                td










    #main.split
      .content-map
        img(src=path+"/img/common/map.png", alt="")
        .license-plates
          | Xe đang giám sát:
          span 29A - 21514
        .warning
          .title-warning.js-toggle-active
            | Cảnh báo
            i.fa.fa-angle-down(aria-hidden='true')
          .list
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Vượt tốc độ  ( 2 )
            .item
              i.blue.fa.fa-circle(aria-hidden='true')
              span Lái xe liên tục >4h  ( 0 )
            .item
              i.red.fa.fa-circle(aria-hidden='true')
              span.red Lái xe trong ngày >10h  ( 2 )
